@model Softom.Application.Models.MV.SMSVM

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">
<link rel="stylesheet" href="@Url.Content("~/Newassets/plugins/global/plugins.bundle.css")">
<link rel="stylesheet" href="@Url.Content("~/Newassets/plugins/custom/datatables/datatables.bundle.css")">

<link rel="stylesheet" href="@Url.Content("~/assets/css/ztyle.bundle.css")" />

<div class="card card-bordered">
    <div class="card-header">
        <h3 class="card-title">SMS Details</h3>
    </div>
    <div class="card-body">
        <div class="kt-blog-post__comments">
            <form method="post" class="row" enctype="multipart/form-data">
                <div class="kt-blog-post__input">

                    <div class="form-group form-group-last">
                        <label for="exampleTextarea">Enter SMS Details</label>
                        <textarea asp-for="SMS" class="form-control" id="exampleTextarea" rows="11"></textarea>
                    </div>
                </div>
                <div class="kt-portlet__foot">
                    <div class="kt-form__actions">
                        <button type="reset" class="btn btn-primary btn-sm btn-hover-rise me-5 my-2">Send SMS</button>
                        @* <button type="reset" class="btn btn-secondary btn-sm btn-hover-rise me-5 my-2">Cancel</button> *@
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}




